<a href="https://colab.research.google.com/github/Abhiram791/BDA-ICP/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
A = list("Abhiram")

print("Original list:",A)


del A[1]
del A[2]

print("After deletion:",A)


A.reverse()


result_str = ''.join(A)


print("Reversed string after deletion: ",result_str)

Original list: ['A', 'b', 'h', 'i', 'r', 'a', 'm']
After deletion: ['A', 'h', 'r', 'a', 'm']
Reversed string after deletion:  marhA

In [13]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))


addition = a + b
subtraction = a - b
multiplication = a * b


if b!= 0:
    division = a // b
else:
    division = "undefined (cannot divide by zero)"


print(f"Addition: {addition}")
print(f"Subtraction: {subtraction}")
print(f"Multiplication: {multiplication}")
print(f"Division: {division}")

Enter first number: 234
Enter second number: 234
Addition: 468.0
Subtraction: 0.0
Multiplication: 54756.0
Division: 1.0

In [11]:
sentence = input("Enter a sentence: ")


updated_sentence = sentence.replace('python', 'pythons')


print("Updated sentence:", updated_sentence)

Enter a sentence: i love python
Updated sentence: i love pythons

In [4]:
score = float(input("Enter your class score: "))

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'


print(f"Your grade is: {grade}")

Enter your class score: 100
Your grade is: A

In [5]:
x = [23, 'Python', 23.98]


types_list = [type(item) for item in x]


print(x)
print(types_list)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [10]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print(len(IT_companies))

IT_companies.add('Twitter')
print(IT_companies)

IT_companies.update(['LinkedIn', 'Snapchat'])
print(IT_companies)

IT_companies.remove('IBM')
print(IT_companies)

IT_companies.discard('XYZ')
#Remove method will raise keyerror if given is not present in set while discard wont raise error

print(A.union(B))
print(A.intersection(B))
print(A.issubset(B))
print(A.isdisjoint(B))
print(A.union(B))
print(B.union(A))
print(A.symmetric_difference(B))

del A
del B

age_set = set(age)
print(len(age))
print(len(age_set))

7
{'Amazon', 'Google', 'Twitter', 'Oracle', 'Facebook', 'Microsoft', 'Apple', 'IBM'}
{'Amazon', 'Apple', 'Snapchat', 'Oracle', 'Facebook', 'LinkedIn', 'Microsoft', 'Google', 'IBM', 'Twitter'}
{'Amazon', 'Apple', 'Snapchat', 'Oracle', 'Facebook', 'LinkedIn', 'Microsoft', 'Google', 'Twitter'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}
8
5